// Импорт частей стилизаций
@import 'variables'
@import 'mixins'
@import 'uixKit'
@import 'popup'

// Главные стили, если вы переносите попап на свою страницу, то лучше без этих стилей
*,
*::before,
*::after
  box-sizing: border-box
body
  margin: 0
  padding: 0
